---
import TrabajosItem from "./TrabajosItem.astro";

const TRABAJOS = [
  {
    color: "bg-[#E7F5F0]",
    titulo: "Full-stack - Epidemiología",
    descripcion:
      "Sitio web autoadministrable desarrollado en mi práctica laboral en el Hospital de Rancagua. Utilicé Laravel para el backend y ReactJS para el frontend.",
    link: "https://epi.hospitalrancagua.cl/",
    imagen: "/trabajos/trabajo-4.webp",
  },
  {
    color: "bg-[#E7F5F0]",
    titulo: "Full-stack - Unidad de investigación",
    descripcion:
      "Sitio web autoadministrable desarrollado en mi práctica laboral en el Hospital de Rancagua. Utilicé Laravel para el backend y ReactJS para el frontend.",
    link: "https://ui.hospitalrancagua.cl/",
    imagen: "/trabajos/trabajo-3.webp",
  },
  {
    color: "bg-[#F5F0E7]",
    titulo: "Front-End - Activa tu perfil",
    descripcion: "Desarrollado con Astro y TailwindCSS",
    link: "https://activatuperfil.vercel.app/",
    imagen: "/trabajos/trabajo-2.webp",
  },
  {
    color: "bg-[#F5E7F4]",
    titulo: "Zapateria - Tendencias MyM",
    descripcion: "Desarrollado con ReactJs y TailwindCSS",
    link: "https://www.tendenciasmym.cl/",
    imagen: "/trabajos/trabajo-1.webp",
  },
];
---

<section
  id="trabajos"
  class="w-full flex flex-col items-center justify-center max-w-[1400px] mx-auto py-[90px] px-6"
>
  <div class="flex items-center gap-2 mb-16">
    <h2 class="text-primary text-xl font-bold uppercase">Trabajos</h2>
    <img width="35" height="35" src="/folder.webp" alt="folder-icon" />
  </div>

  <div class="bg-white grid grid-cols-1 md:grid-cols-2 gap-12">
    {
      TRABAJOS.map((item) => (
        <TrabajosItem
          color={item.color}
          titulo={item.titulo}
          descripcion={item.descripcion}
          link={item.link}
          imagen={item.imagen}
        />
      ))
    }
  </div>
</section>
